
body {
     font-family: Arial, sans-serif; 
     margin: 0; 
     padding: 0; 
     background-image: url(img2.jpg) ;
     background-repeat: no-repeat;
     background-size: cover;
     color: white;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}

.navbar .logo {
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.navbar ul li {
    display: inline;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 8px 12px;
    transition: 0.3s;
}

.navbar ul li a:hover {
    background-color:  rgb(240, 88, 33);
    border-radius: 5px;
}
.about-section {  
    color: white; 
    padding: 50px; 
}
.about-section h2 {
    font-size: 32px;
    color: white;
}
.about-section p {
    font-size: 18px;
    color: white; 
    max-width: 800px;
}
.skills {   
   margin-top: 20px; 
   font-size: 16px;
}
.about{
    margin-left: 40px;

}









.cta {
    margin-top: 20px;
}
.cta a {
    text-decoration: none; background: #ff6600; color: white;
    padding: 10px 20px; border-radius: 5px;
}